<footer class="pt-4 pb-4 text-center bg-light">
    <div class="container">
      <div class="my-3">
        <div class="h4">Alao Abiodun</div>
        <p>Backend Developer & Focusing More on DevOps</p>
        <div class="social-nav">
          <nav role="navigation">
            <ul class="nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="https://twitter.com/abiodundev" title="Twitter" target="_blank"><i style="color:aqua" class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/alao.abiodun.902" title="Facebook" target="_blank"><i style="color:blue" class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/alao43844/" title="Instagram" target="_blank"><i style="color:#E1306C" class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/alao-abiodun/" title="LinkedIn" target="_blank"><i style="color:#2867B2" class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.github.com/Alao-Abiodun" title="Github" target="_blank"><i style="color: black" class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="text-small text-secondary">
        <div class="mb-1">&copy; abiodundev. All rights reserved.</div>
    </div>
  </footer>